{% load static %}
<header>
    {% if request.user.is_authenticated %}
    <li>
        <p>Hi, {{request.user.username}}</p>
    </li>
    <li>
        <p><a href="{% url 'logout' %}">Logout</a></p>
    </li>
    {% else %}
    <li>
        <p><a href="{% url 'login' %}">Login</a></p>
    </li>
    <li>
        <p><a href='/'>Signup</a></p>
    </li>

    {% endif %}
    <li>

    <p><a href="{% url 'create_post' %}">Create post</a></p>

    </li>
</header>

<body>


    <p><a href="{% url 'posts' %}">Back to posts</a></p>

    <p><a href="{% url 'update_post' object.id %}">Update Post</a></p>

    <p><a href="{% url 'delete_post' object.id %}">Delete Post</a></p>

    <p> {{ object.title }} </p>
        <img src="/{{object.image}}">
    </p>
</body>
